/* common rules */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
:root{
    --title-color: #E53170;
    --paragraph-color: #2b4c79;
    --title-cards-color: #ffffe5;
    --job-color: #d7f0dc;
    --contact-color: #136ce0;
}

.clearfix::after{
    content:'';
    display: table;
    clear: both;
}

.container{
    width: 70%;
    margin:auto;
}

h1{
    color: var(--title-color);
    padding-top:2rem;
    margin-bottom:2rem;
    font-size: 2.5rem;
}

h3{
    color: var(--title-cards-color);
    font-weight: bold;
}

a{
    color:var(--contact-color);
}
img {
    float:left;
    margin-right: 1rem;
}

/* header */

header{
 text-align: center;   
}

/* main */

.row{
    margin-top:3rem;
}

.card{
    width:calc(100% / 3 - 2rem);
    background-color: black;
    box-shadow: 5px 10px 8px #888888;
    margin-bottom: 3rem;
    margin-right: 2rem;
    float:left;
}

.description{
    float:left;
    padding-top: 1rem;
}

.profession{
    color:var(--job-color);
}

div > h3, div > .profession, div > a{
    margin-bottom: 0.5rem;
}