/* common rules */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
:root{
    --title-color: #E53170;
    --paragraph-color: #2b4c79;
    --title-cards-color: #ffffe5;
    --job-color: #d7f0dc;
    --contact-color: #053a7f;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}


.container{
    width: 60%;
    margin:auto;
}

h1{
    color: var(--title-color);
    padding-top:2rem;
    margin-bottom:2rem;
    font-size: 2.5rem;
}


/* header */

header{
 text-align: center;   
}